 header {
     text-align: center;

     h1 {
         font-size: 2.5rem;
         color: var(--mat-sys-on-surface);
         margin-bottom: 8px;
     }

     p {
         color: var(--mat-sys-on-surface-variant);
         font-weight: 500;
     }
 }