<mat-drawer-container class="<mat-drawer-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            @for (item of getMenusByRole(); track $index) {
            <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
                <div class="item">
                    <mat-icon>{{ item.icon }}</mat-icon>
                    <span>{{ item.menuName }}</span>
                </div>
            </a>
            }
        </mat-nav-list>

    </mat-drawer>
    <div class="sidenav-content">
        <app-header [version]="version" [isLogin]="true" (menuToggle)="drawer.toggle()"></app-header>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
        <app-footer [develop]="develop"></app-footer>
    </div>

</mat-drawer-container>