.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.active-link {
    background-color: white;
    --mat-toolbar-container-text-color: var(--mat-sys-on-primary-container);
    font-weight: 800;
    border-left: 4px solid var(--mat-sys-primary);
    padding-left: 12px;
}

mat-drawer {
    --mat-sidenav-container-background-color: var(--mat-sys-primary-fixed);
    color: var(--mat-sys-background);
}

.main-content {
    padding: 20px;
    background-color: #f5f5f5;
    min-height: calc(100vh - 120px); // Adjust based on header and footer height
    flex: 1;
}