mat-toolbar {
  height: auto; 
  min-height: 80px; 
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px; 

  .footer-left {
    font-size: 0.9rem;
   }

  .footer-right {
    font-size: 0.9rem;
    a[mat-button] {
      line-height: normal;
    }
  }
}