.dashboard-container {
  padding: 20px;
  min-height: 80vh;
}

.welcome-card {
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.info-card {
  text-align: center;
}
.ticket-card {
  margin-top: 20px;
}

table {
  width: 100%;
}

.no-data {
  text-align: center;
  margin-top: 12px;
  color: gray;
}
