.dashboard-container {
  padding: 20px;
  min-height: 80vh;
}

.welcome-card {
  margin-bottom: 20px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.info-card {
  text-align: center;
}

.ticket-card {
  margin-top: 20px;
  text-align: center;
}

.ticket-table {
  width: 100%;
  border-collapse: collapse;
}

.ticket-table th,
.ticket-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.row-hover {
  background-color: #f5f7fa;
  cursor: pointer;
}

.row-selected {
  background-color: #dbeafe;
}


.no-data {
  text-align: center;
  margin-top: 12px;
  color: gray;
}

.priority-low {
  color: #16a34a;
  /* green */
}

.priority-medium {
  color: #ca8a04;
  /* yellow */
}

.priority-high {
  color: #dc2626;
  /* red */
}

.feedback-card {
  padding: 8px;

  mat-icon {
    color: orange;
  }
}

.rating-section {

  mat-icon {
    color: #cfd8dc;
  }

  mat-icon.active {
    color: #1976d2;
  }
 
}